@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
#sedans {
  width: 327px;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  background-color: #E28625;
}
#sedans img {
  margin: 0;
}
#sedans h2 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin: 25px 0;
}
#sedans p {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 80px;
}
#sedans button {
  background-color: #fff;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  width: 146px;
  height: 48px;
  border-radius: 25px;
  border: solid 2px #fff;
  color: #E28625;
}
#sedans button:hover {
  color: #fff;
  background-color: #E28625;
  transition: 0.2s;
  cursor: pointer;
}
#sedans:first-child {
  border-radius: 8px 8px 0 0;
}
#sedans:last-child {
  border-radius: 0 0 8px 8px;
}

#suvs {
  width: 327px;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  background-color: #006971;
}
#suvs img {
  margin: 0;
}
#suvs h2 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin: 25px 0;
}
#suvs p {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 80px;
}
#suvs button {
  background-color: #fff;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  width: 146px;
  height: 48px;
  border-radius: 25px;
  border: solid 2px #fff;
  color: #006971;
}
#suvs button:hover {
  color: #fff;
  background-color: #006971;
  transition: 0.2s;
  cursor: pointer;
}
#suvs:first-child {
  border-radius: 8px 8px 0 0;
}
#suvs:last-child {
  border-radius: 0 0 8px 8px;
}

#luxury {
  width: 327px;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  background-color: #004140;
}
#luxury img {
  margin: 0;
}
#luxury h2 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin: 25px 0;
}
#luxury p {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 80px;
}
#luxury button {
  background-color: #fff;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  width: 146px;
  height: 48px;
  border-radius: 25px;
  border: solid 2px #fff;
  color: #004140;
}
#luxury button:hover {
  color: #fff;
  background-color: #004140;
  transition: 0.2s;
  cursor: pointer;
}
#luxury:first-child {
  border-radius: 8px 8px 0 0;
}
#luxury:last-child {
  border-radius: 0 0 8px 8px;
}

.card-wrapper {
  padding: 48px;
}

@media only screen and (min-width: 1024px) {
  #cards-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 921px;
    padding: 10% 0;
  }

  #sedans {
    width: 307px;
  }
  #sedans:first-child {
    border-radius: 8px 0 0 8px;
  }
  #sedans:last-child {
    border-radius: 0 8px 8px 0;
  }

  #suvs {
    width: 307px;
  }
  #suvs:first-child {
    border-radius: 8px 0 0 8px;
  }
  #suvs:last-child {
    border-radius: 0 8px 8px 0;
  }

  #luxury {
    width: 307px;
  }
  #luxury:first-child {
    border-radius: 8px 0 0 8px;
  }
  #luxury:last-child {
    border-radius: 0 8px 8px 0;
  }
}
body {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  flex-flow: row wrap;
}

.attribution {
  width: 100%;
  margin-top: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #E28625;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
